@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

*{font-family: 'Outfit', sans-serif;}

.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.tables { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(10, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
  }
.tables > div {
  color: white;
  text-align: center; 
    display: grid;
}